{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}
<h1>Page Catégories</h1>
{% for categorie in categories %}
<li><a  class="dropdown-item" href="#" >{{ categorie.title}}</a></li>
{% endfor %}
{% endblock %}
